[submodule "mozdownload"]
	path = mozdownload
	url = git://github.com/manzee/mozdownload.git
[submodule "mozbase"]
	path = mozbase
	url = git://github.com/manzee/mozbase.git
[submodule "addon-sdk"]
	path = addon-sdk
	url = git://github.com/manzee/addon-sdk.git
[submodule "addon/packages/subprocess"]
	path = addon/packages/subprocess
	url = git://github.com/manzee/jetpack-subprocess.git
